In [99]:
import pandas as pd
import json
import numpy as np

# Read in census data csv, filter out extra columns, and change column names to match instructions
file_path = 'data/acs2017_census_tract_data.csv'
columns = ['County', 'State', 'TotalPop', 'Poverty', 'IncomePerCap']
County_info = pd.read_csv(file_path, usecols=columns)
County_info = County_info.rename(columns={'County': 'Name', 'TotalPop': 'Population', 'IncomePerCap': 'PerCapitaIncome'})

def downcase_county(row):
    return row['Name'].lower()

County_info['Name'] = County_info.apply(downcase_county, axis=1)

# Count the number of times each county appears in the data set to use for later calculations
county_count = {}

def count_entries(row):
    county_name = row['Name']
    if county_name in county_count:
        county_count[county_name] += 1
    else:
        county_count[county_name] = 1        

County_info.apply(count_entries, axis=1)

# Combine rows with duplicate county names and states
County_info = County_info.groupby(['Name', 'State']).sum().reset_index()

def avg_income_per_cap(row):
    entry_count = county_count[row['Name']]
    return row['PerCapitaIncome'] / entry_count

def avg_poverty(row):
    entry_count = county_count[row['Name']]
    return row['Poverty'] / entry_count

id_counter = 100000
def add_id(row):
    global id_counter
    id_counter += 1
    return id_counter

County_info['PerCapitaIncome'] = County_info.apply(avg_income_per_cap, axis=1)
County_info['Poverty'] = County_info.apply(avg_poverty, axis=1)
County_info['ID'] = County_info.apply(add_id, axis=1)

# Commented block below used to test County_info DataFrame
# County_info.loc[County_info['Name'] == 'Malheur County'].loc[County_info['State'] == 'Oregon']
# pop = County_info['Population'].min()
# County_info.loc[County_info['Population'] == pop]

# Read in covid data csv, filter out extra columns, and change column names to match instructions
file_path = 'data/COVID_county_data.csv'
columns = ['county', 'state', 'date', 'cases', 'deaths']
COVID_info = pd.read_csv(file_path, usecols=columns)
COVID_info = COVID_info.rename(columns={'county': 'ID', 'date': 'Month', 'cases': 'Cases', 'deaths': 'Deaths'})

def downcase_covid_county(row):
    return row['ID'].lower()

COVID_info['ID'] = COVID_info.apply(downcase_covid_county, axis=1)

# Format Month column to only show the month as an integer, rather than the full date
def format_months(row):
    month = row['Month'].split('-')[1]
    return pd.to_numeric(month)

COVID_info['Month'] = COVID_info.apply(format_months, axis=1)

# Combine rows with duplicate county names, states, and months
COVID_info = COVID_info.groupby(['ID', 'state', 'Month']).sum().reset_index()

# Associate each entry in COVID_info with its corresponding entry in County_info
for index in COVID_info.index:
    county_name = COVID_info['ID'][index]
    state_name = COVID_info['state'][index]
    
    county_row = County_info.loc[(County_info['Name'].str.find(county_name) != -1) & (County_info['State'] == state_name)]

    row_len = len(county_row.index)
    if row_len > 1:
        county_row = county_row.loc[county_row['Name'] == F"{county_name} county"]
        row_len = len(county_row.index)
    if row_len == 1:
        COVID_info.loc[index, 'ID'] = county_row['ID'][county_row.index[0]]
    else:
        COVID_info.loc[index, 'ID'] = np.NaN
 
COVID_info = COVID_info.drop(columns=['state'], axis=1)

# Commented block below used to test COVID_info DataFrame
# county_data = County_info.loc[(County_info['Name'] == 'malheur county') & (County_info['State'] == 'Oregon')]
# county_id = county_data['ID'][county_data.index[0]]
# COVID_info.loc[COVID_info['ID'] == county_id]

           ID  Month  Cases  Deaths
20768  101823      1  96297  1627.0
20769  101823      2  65951  1137.0
20770  101823      3      1     0.0
20771  101823      4    125     0.0
20772  101823      5    626     0.0
20773  101823      6   1447    24.0
20774  101823      7  12773   130.0
20775  101823      8  28163   459.0
20776  101823      9  43150   693.0
20777  101823     10  56398  1061.0
20778  101823     11  65787  1174.0
20779  101823     12  82916  1465.0